:root {
    --lightcolor: #fff;
    --semidarkcolor: #dedfdd;
    --darkcolor: #fafaf8;

}

body{
    background-color: rgb(215, 245, 235);
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

/* CSS for header goes here */
.header {
    background-color: var(--semidarkcolor);
    color: var(--lightcolor);
}

.navbar {
    display: grid;
    grid-template-columns: 2em  auto  2em;
    grid-template-areas:  "menudrop logo checkout"
                          "menu menu menu";
}

.logo {
    grid-area: logo;
    justify-self: center; 
    max-width: 15%; 
    /* re-check logo size */
}

.hamburger {
    grid-area: menudrop;
    text-align: center;
    font-size: 1.6em;
    background-color: var(--semidarkcolor);

}

.main-menu {
    grid-area: menu;
    text-align: center; 
    display: none;
    /* change display none on screen size change */
}

.main-menu a {
    display: block;
    color: var(--lightcolor);
    text-decoration: none;
    line-height: 2;
}

.main-menu a:hover {
    color: var(--darkcolor);
    background-color: var(--lightcolor);
}

.shoppingcart {
    grid-area: checkout;
    background-color: var(--semidarkcolor);
}

/* CSS for main contents goes here */
.main-content{
    padding: 1em 1em;
    background-color: var(--darkcolor);
}

.search-area{
    color: rgb(27, 8, 97);
}

.search-form{
    background-color: rgb(245, 241, 237);
}

.product {
    padding: 1em 1em 2em 1em;
    background-size: auto 15em;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgb(248, 247, 247);
}

.footer-product{
    padding: 1em;
}

/* Media Query Goes Here--- */
@media screen and (min-width: 700px) {
    .navbar {
      grid-template-columns: 3em  auto  2em;
      grid-template-areas:  "logo menu checkout";  
    }
  
    .hamburger {
      display: none;
    }
  
    .main-menu {
      text-align: center;
      display: flex;
      justify-content: space-evenly;
    }
  
    .main-menu a {
      padding: 0 1em;
    }
}
